<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Patient</title>
</head>
<body>
  <%- include('navbar_taufik') %>
  <h1>Add Patient</h1>
  <% if (errors) { %>
    <% errors.split(',').forEach((error) => { %>
      <p style="color: #ff0000; margin: 0;"><%= error %></p>
    <% }) %>
  <% } %>
  <form action="/hospital/patient/add" method="post">
    <div>
      <label for="">Name</label><br>
      <input type="text" name="name" style="width: 300px; padding: 5px 8px;">
    </div>
    <br>
    <div>
      <label for="">Age</label><br>
      <input type="number" name="age" style="width: 300px; padding: 5px 8px;">
    </div>
    <br>
    <div>
      <label for="">Gender</label><br>
      <input type="text" name="gender" style="width: 300px; padding: 5px 8px;">
      <p style="font-size: 8px; margin-top: 0;">Fill with M or F</p>
    </div>
    <br>
    <div>
      <label for="">Category</label><br>
      <select name="category">
        <option value="">-- Select Category --</option>
        <% ['BPJS', 'Non BPJS'].forEach(category => { %>
          <option value="<%= category %>"><%= category %></option>
        <% }) %>
      </select>
    </div>
    <br>
    <div>
      <label for="">Address</label><br>
      <textarea name="address" cols="36" rows="5" style="padding: 8px;"></textarea>
    </div>
    <br>
    <div>
      <label for="">Doctor</label><br>
      <input type="text" name="doctor" style="width: 300px; padding: 5px 8px;">
    </div>
    <br>
    <div>
      <label for="">Desease</label><br>
      <select name="DeseaseId">
        <option value="">-- Select Desease --</option>
        <% deseases.forEach(deseases => { %>
          <option value="<%= deseases.id %>"><%= deseases.name %></option>
        <% }) %>
      </select>
    </div>
    <br>
    <button>Submit</button>
    <button><a href="/hospital/patient" style="text-decoration: none; color: #000;">Cancel</a></button>
  </form>
</body>
</html>