<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Detail</title>
</head>
<body>
  <%- include('navbar_taufik') %>
  <h1>Patient's Detail</h1>
  <a href="/hospital/patient/<%= patient.id %>/edit">Edit</a>
  <a href="/hospital/patient/<%= patient.id %>/addDesease">Add Desease</a>
  <a href="/hospital/patient/<%= patient.id %>/medical-record">Medical Record</a>
  <p><span style="font-weight: bold;">Name: </span><%= patient.name %></p>
  <p><span style="font-weight: bold;">Age: </span><%= patient.age %></p>
  <p><span style="font-weight: bold;">Gender: </span><%= patient.fullGender %></p>
  <p><span style="font-weight: bold;">Category: </span><%= patient.PatientDetail.category %></p>
  <p><span style="font-weight: bold;">Address: </span><%= patient.PatientDetail.address %></p>
  <p><span style="font-weight: bold;">Status: </span><%= patient.PatientDetail.status %></p>
  <p><span style="font-weight: bold;">Penyakit: </span>
    <% patient.Deseases.forEach(desease => { %>
      <p>&#8226; <%= desease.name %></p>
    <% }) %>
  </p>
  <p><span style="font-weight: bold;">Doctor:</span><%= patient.PatientDetail.doctor %></p>
</body>
</html>